@import "bootstrap";
.navbar {
    background-color: rgb(39, 37, 37) !important;
  }  
    
  .nav-link{
      color:rgb(8, 8, 8) !important;
  }

  #logo{
      float: left;
      font-size: 1.7em;
      color: #fff1;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
  }

 